<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="sly_vm.config.class">Sly\Bundle\VMBundle\Config\Config</parameter>
        <parameter key="sly_vm.config_vm_collection.class">Sly\Bundle\VMBundle\Config\VMCollection</parameter>
    </parameters>

    <services>
        <service id="sly_vm.config_vm_collection" class="%sly_vm.config_vm_collection.class%" />

        <service id="sly_vm.config" class="%sly_vm.config.class%">
            <argument>%sly_vm.configuration%</argument>
            <argument type="service" id="sly_vm.config_vm_collection" />
        </service>
    </services>
</container>
