{% extends 'SlyMainBundle:Layout:base.html.twig' %}

{% block body %}
    <div class="row">
        <h2>Your VM has been created</h2>

        <hr />

        {% include 'SlyVMBundle:Default/Block:createdMessage.html.twig' with { 'vm': vm } %}
    </div>
{% endblock %}
