<p class="pagination-centered">
    <a href="{{ path('vm_download', { uKey: vm.uKey }) }}" class="btn btn-large">
        Download TAR archive
    </a>
</p>

<hr />

<p class="pagination-centered">
    <textarea id="vm-one-line-installation" readonly="readonly">curl -O {{ url('vm_download', { uKey: vm.uKey }) }} && tar zxvf {{ vm.archiveFilename }} vagrant/ && cd vagrant/ && git submodule update --init && vagrant up</textarea>
</p>

<hr />

<ul>
    <li>Then untar the archive into your web project directory (into a <code>vagrant/</code> folder)</li>
    <li>Go to <code>vagrant/</code> folder</li>
    <li>Execute <code>git submodule update --init</code> command</li>
    <li>Run the VM with <code>vagrant up</code> command</li>
</ul>
