<p class="pagination-centered">
    <a href="{{ path('vm_download_install', { uKey: vm.uKey }) }}" class="btn btn-primary btn-large">
        Download Shell install script
    </a>
</p>

<hr />

<p class="pagination-centered">
    <h4>One line process</h4>

    <p>Copy and paste this line which will install, configure and run your generated VM.</p>

    <textarea id="vm-one-line-installation" readonly="readonly" onclick="this.select()">wget --no-check-certificate {{ url('vm_download_install', { uKey: vm.uKey }) }} -O webvmgen-install.sh && chmod +x webvmgen-install.sh && ./webvmgen-install.sh</textarea>
</p>
