div.php-options label.checkbox {
    display: inline-block;
    width: 40%;
}

.vm-shell-instruction {
    width: 94%;
    height: 46px;
    padding: 2%;
    font-size: .8em;
    line-height: 1.2em;
}
